---
//import type { PagesResponse } from '~/types/Strapi';

import Layout from '~/layouts/main.astro';
import Link from '~/components/Link.astro';
import RenderTheCode from '~/components/RenderTheCode.astro';

//import { /*STRAPI_URL,*/ strapiClient } from '~/utils/strapi/client';

import { getEntries } from '~/content/utils/pages';

//---

const title = 'Pages | Strapi CMS Astro Client';

const collectionName = 'pages';

/*
const { data: content } = (await strapiClient.collection(collectionName).find({
  populate: '*'
})) as PagesResponse;
*/

const content = await getEntries();

const code = JSON.stringify(content, null, 2);
---

<Layout
  content={{
    title
  }}
>
  <div class="flex h-screen flex-col items-center justify-center gap-4 p-4">
    <h2>{title}</h2>

    <h3>
      Loads the {collectionName} content ( populate = * ) by its default locale (
      en )
    </h3>

    <RenderTheCode {code} />

    <Link href="/">Go home</Link>
  </div>
</Layout>
