---
import Layout from '~/layouts/main.astro';

const title = 'Tags | Strapi CMS Astro Client';

// TODO: define the related code logic
---

<Layout
  content={{
    title
  }}
>
  <div class="grid h-screen place-items-center content-center space-y-4">
    <h2>{title}</h2>

    <p><strong>TODO:</strong> define the content to be rendered on this page</p>
  </div>
</Layout>
