---
import Layout from '~/layouts/main.astro';

import Link from '~/components/Link.astro';

import { SITE_TITLE as title } from '~/settings';
---

<Layout
  content={{
    title
  }}
>
  <div class="grid h-screen place-items-center content-center space-y-4">
    <h2>404 - Page not found</h2>

    <Link href="/">Go home</Link>
  </div>
</Layout>
