---
import Layout from '~/layouts/main.astro';
import Link from '~/components/Link.astro';
import RenderTheCode from '~/components/RenderTheCode.astro';

import { getEntries } from '~/content/utils/locales';

import { SITE_TITLE } from '~/settings';

//---

const title = `Locales | all data | ${SITE_TITLE}`;

const content = await getEntries();

const code = JSON.stringify(content, null, 2);
---

<Layout
  content={{
    title
  }}
>
  <div class="grid h-screen place-items-center content-center space-y-4">
    <Link href="/">Go home</Link>

    <h2>{title}</h2>

    <h3>
      Loaded content [ length: {content.length} ]
    </h3>

    <RenderTheCode {code} />
  </div>
</Layout>
